.footer {
  background-color: #343a40;
  color: white;
  margin-top: 30px;
}

.footer a {
  color: #6c757d;
  text-decoration: none;
}

.footer a:hover {
  color: #f8f9fa;
  text-decoration: underline;
}
.footer textarea {
  resize: none;
  height: 120px;
}